<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="root">
        <input type="text" v-model="firstName" placeholder="firstName">
        <input type="text" v-model="lastName" placeholder="lastName">
        firstName---{{firstName}}
        <hr />
        {{fullName}}
    </div>
</body>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el: "#root",
        data: {
            firstName: "",
            lastName: "",
        },
        // watch: { //监听属性是个函数 负责内部改变源数据的值
        //     firstName(newVal, oldVal){
        //         this.fullName = newVal + this.lastName
        //     },
        //     lastName(newVal, oldVal){
        //         this.fullName = this.firstName+ newVal 
        //     }
        // }
        // 1.计算属性优于监听属性
        // 2.代码量减少 初始值变少了
        computed:{  // 计算属性的改变是原始数据的改变而促发
            fullName(){
                return this.firstName+this.lastName
            }
        }

    })

//    function Fn(obj){
//        this.name = obj.name;
//        this.age = obj.age;
//        this.run = function (){
//            alert(this.name + "今年" + this.age);
//        }
//    }
//    var fn = new Fn({name:"wdx", age:18})
//    fn.run();
</script>
</html>